@model EquipManagement.Models.ApplicationRecord

@{
    ViewBag.Title = "申请详情";
}

<h2>申请详情</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipment.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @if (Model.ReturnDate == Model.ApplicationDate)
            {
                <span>尚未归还</span>
            }
            else
            {
                @Html.DisplayFor(model => model.ReturnDate)
            }
        </dd>
        <dt>      
            @Html.DisplayNameFor(model => model.IsApprove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApprove)
        </dd>


    </dl>
</div>
<p>
    @if (Request.UrlReferrer != null)
    {
        <a href="@Request.UrlReferrer">返回</a>
    }
</p>
